<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @promotion.name %>
</p>

<p>
  <strong>From date:</strong>
  <%= @promotion.from_date %>
</p>

<p>
  <strong>To date:</strong>
  <%= @promotion.to_date %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @promotion.condition %>
</p>

<%= link_to 'Edit', edit_promotion_path(@promotion) %> |
<%= link_to 'Back', promotions_path %>
